*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
}

.logo-link {
  display: inline-block;
  padding-right: 35px;
}

.nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu-item {
  list-style: none;
  margin: 0 15px;
}

.nav-menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 16px;
}

.film-date {
  display: block;
  margin-bottom: 38px;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}

.film-logo {
  margin-bottom: 40px;
}

.film-description {
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  max-width: 423px;
}

.button-group {
  margin-top: 70px;
}

.button {
  padding: 15px 30px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-text,
.button-icon {
  display: inline-block;
  vertical-align: middle;
}

.button-text {
  margin-left: 10px;
  font-size: 14px;
  line-height: 16px;
}

.button-primary {
  background-color: #ffffff;
  color: #8d0019;
  margin-right: 50px;
}

.button-link {
  color: #ffffff;
  text-decoration: none;
}

.venom {
  position: absolute;
  right: 0;
  top: 0;
}

.blood {
  background: url("../img/blood.png") no-repeat top right,
    #14131a url("../img/background.jpg") no-repeat;
  background-size: contain, cover;
}
